body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: Arial;
  background: #f3f3f3;
}

.login-box {
  background: white;
  padding: 25px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  cursor: pointer;
}

#msg {
  color: red;
  margin-top: 10px;
}
